## Python
__pycache__

## Environment Variables
server-env
.env
/env

## Firebase Configuration
firebase.json

## Temporary Files
TEMP_FILES

## Virtual Environment
venv

## Test Files
test.py
./test.py