FIREBQSE_CONFIG = {"apiKey": "","authDomain": "","projectId": "","storageBucket": "","messagingSenderId": "","appId": ""}

STORAGE_BUCKET =""

# ----------------------------------- JWT -----------------------------------
HASH_ALGORITHM = "HS256"
# This is a real constant , let the hackers have fun. Please don't change - Soapiane
HASHING_SECRET_KEY = "" # Disclamer : Changing this value will corrupt all the previous tokens in the database
TOKEN_LIFE_TIME = 6000000  # In minutes

# ---------------------------------------------------------------------------
LIVEKIT_API_KEY=""
LIVEKIT_API_SECRET=""

# ---------------------------------- LLMs ----------------------------------
GEMINI_API_KEY = ""

# --------------------------------- Vec DB ----------------------------------
PINECONE_API_KEY = ""

# --------------------------------- Virus total key ----------------------------------
VIRUSTOTAL_API_KEY = ""